*{
	margin:0;
	padding: 0;
}

body{
    font-family: 'Trebuchet MS';	
}
div#menu {
	box-sizing: border-box;
    float: left;
    width: 20%;
	padding: 20px;
}

div#menu ul {
	list-style: none;
}
div#menu ul li{
	padding: 10px;
	border-bottom: 1px solid grey;
	text-decoration: none;
}
div#menu ul li:hover{

	background-color: #f2f2f2;
}
div#menu ul li a{
		text-decoration: none;
			color: black;
		
}
div#menu ul li a:hover{
		text-decoration: underline;
	
}


div#searchBody {
    float: right;
    width: 80%;
    overflow: hidden;
    padding-bottom: 30px;
}
div#footer {
	background-color: #e5eCf9;
	padding: 5px;
	
    clear: both;
}

 .outer {
    color: #6A5ACD;
    background-color: #e5eCf9;
    padding: 5px;
    font-type:
 }
 .header{
    padding: 40px;
 }
 
 .header h3{
 	text-transform: uppercase;
 }
 .article{
    width: 200px;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
 }
 .row{
 	padding: 20px;
 }
 h1, p{
 	padding: 10px;
 }
 h3{
 display: inline;
   font-size: 20px;
 }
 
 form {
 float: right;
    width: 400px;
 }
  form select{
     padding: 3px;
    
  }
  
  form input{
     padding: 3px;
     border-radius: 2px;
     cursor: pointer;
  }
